body {
    font-family: Arial;
    background: #f2f2f2;
}

header {
    background: #4a90e2;
    color: white;
    padding: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

form {
    border: 1px solid #4a90e2;
    padding: 10px;
    background: white;
}
